<mat-toolbar style="background-color: rgb(5, 185, 185); color: white;">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle();">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>Hahn Software</h1>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav style="background-color: rgb(5, 185, 185); padding: auto; ;">
    <div class="logo-container">
      <img src="../assets/img/Hahnlogo.png" alt="Company Logo" class="company-logo" height="100" width="100"/>
    </div>
    <mat-nav-list >
      <a mat-list-item [routerLink]="'/add-ticket'">
        <mat-icon style="color: white;">add</mat-icon>
        <span style="color: white;">ADD</span>
      </a>
      <a mat-list-item [routerLink]="'/list-tickets'">
        <mat-icon style="color: white;">visibility</mat-icon>
        <span style="color: white;">VIEW</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content style="background-color: white; color: black; height: 88vh; text-align: center;">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
